
<div class="containers">
  
    <div class="slider-box">
    <ul>
        <li>
            <img src="/images/durlock1.jpg" alt="">
            <h2>Cieclo Razo - Masillado de paredes y Pintado en Finca del alva</h2>
            <p>Trabajo de cielo razo masillado completo. contaba con 1000 mt2  Comensado en septiembre 2023.  Terminado en junio 2024</p>
        </li>
        <li>
            <img src="/images/durlock2.jpg" alt="">
            <h2>Cieclo razo - Tabique - Pintura en Canning</h2>
            <p>Trabajo de cielo razo , tabique y pintura de paredes y paredes contaba con 92 mt2. Comensado en julio 2023. Terminado en agosto 2023 </p>
        </li>
        <li>
            <img src="/images/durlock3.jpg" alt="">
            <h2>cieclo razo</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, ullam!</p>
        </li>
        <li>
            <img src="/images/durlock2.jpg" alt="">
            <h2>cieclo razo</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, ullam!</p>
            
        </li>
    </ul>
    </div>
</div>