
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <article class="tarjeta-card">
            <figure>
                
                <img src="/images/durlock/durlock1.jpg" alt="">
            </figure>
            <h2>Cieclo Razo - Masillado de paredes y Pintado en Finca del alva</h2>
            <p>Trabajo de cielo razo masillado completo. contaba con 1000 mt2 Comensado en septiembre 2023. Terminado en junio
                2024</p>
                <button class="button"><a href="/obraRealizadas">ver m치s</a></button>
        </article>
        
      </div>
      <div class="swiper-slide">
        <article class="tarjeta-card">
            <figure>
                
                <img src="/images/durlock/durlock2.jpg" alt="">
            </figure>
            <h2>Cieclo razo - Tabique - Pintura en Canning</h2>
            <p>Trabajo de cielo razo , tabique y pintura de paredes y paredes contaba con 92 mt2. Comensado en julio 2023.
                Terminado en agosto 2023 </p>
                <button class="button"><a href="/obraRealizadas">ver m치s</a></button>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="tarjeta-card">
            <figure>
                
                <img src="/images/durlock/durlock3.jpg" alt="">
            </figure>
            <h2>cieclo razo</h2>
            <p>Trabajo de mueble de Durlock y Pintura en paredes pisos y puertas
              Comensado en Abril del 2022 fue una semana de Trabajo</p>
            <button class="button"><a href="/obraRealizadas">ver m치s</a></button>
        </article>
        
      </div>
      <div class="swiper-slide">
        <article class="tarjeta-card">
            <figure>
                
                <img src="/images/durlock/durlock4.jpg" alt="">
            </figure>
            <h2>cieclo razo</h2>
            <p>Trabajo Pintura en paredes y puertas. colocacion de ventana, colocacion de mueble bacha y colocacion de ceramicas
              Comensado en mayo del 2022 fue dos semana de Trabajo</p>
            <button class="button"><a href="/obraRealizadas">ver m치s</a></button>
        </article>
      </div>
    
    </div>
    <div class="swiper-pagination"></div>
  </div>