<footer class="footer">

   <section class="contacto" id="contactos">
      <%- include('../partials/contactos') %>
    </section>
   

   <figure class="figure">
      <img class="footer--logo" src="/images/logo.png" alt="">
   </figure>

   
  <nav class="nav-footer">

   <ul class="redes">
      <h3>Redes</h3>
      <li><a target="_blank" href="https://www.facebook.com/pintordurleronahuel"><i class="fab fa-facebook-f"></i>
            Facebook</a>
      </li>
   </ul>

   <ul class="contactos">
      <h3>Contactos</h3>
      <li><a target="_blank" href="https://walink.co/8d9f41">Tel: 11-5617-1376</a></li>
      <li><a target="_blank" href="https://walink.co/a6a132">Tel: 11-5914-3248</a></li>
   </ul>

</nav>


   <div class="derechos">
       <p class="copy">Derechos reservados &copy; 2024</p>
   <p class="autoria">Autoria de Web Desing Solutions</p>
   </div>

  
</footer>
