<footer class="footer">
   <img class="footer--logo" src="/images/logo-final.png" alt="">
   <nav class="footer--nav">

      <ul class="footer--nav--contactos">
         <li><a target="_blank" href="https://www.facebook.com/pintordurleronahuel"><i class="fab fa-facebook-f"></i>
               Facebook</a></li>
         <li><a target="_blank" href="https://walink.co/837d1b">Tel: 11-5617-1376</a></li>
         <li><a href="/contactos">Contactanos via Gmail</a></li>
      </ul>
   </nav>
</footer>