<header id="header" class="header">

    <button class="open" id="open"><i class="fa-solid fa-bars"></i></button>
   
 <div class="logo">
            <img src="/images/logo.png" alt="logo">
        </div>


    <nav id="nav" class="nav">
 <button class="close" id="close"><i class="fa-solid fa-x"></i></button>
        <ul id="ul">
            <li><a href="/">Inicio</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/obraRealizadas">Obras</a></li>
            <li class="contacts"><a href="/#contactos">Contactos</a></li>
        </ul>
        
       
    </nav>
    
</header> 

<script src="/javascripts/header.js"></script>