<header id="header" class="header">
    <div class="logo">
        <img class="logo" src="/images/logo-final.png" alt="">
    </div>
     
    <nav id="nav" class="nav">
        
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/obraRealizadas">Obras</a></li>
            <li class="contacts"><a href="/contactos">Contactos</a></li>
        </ul>
    </nav>
    
</header>