<article class="item">
    <img src="/images/durlock/<%- obra.imagen %>" alt="">
    <div class="descripcion">
        <h2><%- obra.titulo %></h2>
        <p><%-obra.descripcion %></p>
    </div>

    <button class="vermas"><a target="_blank"
            href="https://www.facebook.com/media/set/?set=a.696231242613438&type=3">VER MÁS</a></button>
</article>