<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>


    <%- include('./partials/header') %>



      <main class="home">

        <section class="eslogan">
          <figure class="video">
            <video src="/videos/banner.mp4" autoplay muted loop></video>
          </figure>
          <h2>"Confiabilidad y calidad, la base de tu nuevo hogar."</h2>
        </section>

        <section class="nosotros">
          <article class="quienesSomos">

            <h2>¿Quiénes Somos?</h2>
            <p>En N & M Ccnstrucciones, somos un equipo apasionado por transformar espacios y materializar los sueños de
              nuestros clientes. <br> <br> Fundado en 2020, nuestro emprendimiento se dedica a ofrecer soluciones
              creativas y de
              alta calidad en el ámbito de la construcción.</p>

          </article>

          <article class="nuestroEquipo">
            <h2>Nuestro equipo</h2>
            <p>Nos enorgullece contar con un equipo de profesionales altamente capacitados y especializados en diversas
              áreas de la construcción. <br> <br>
              Cada miembro de nuestro equipo está profundamente comprometido con la excelencia, dedicándose a entregar
              resultados de la más alta calidad.
              <br> <br> Nuestro principal objetivo es asegurar la plena satisfacción de nuestros clientes, superando sus
              expectativas en cada proyecto que emprendemos.
            </p>
          </article>
          <article class="servicios">
            <h3>Servicios</h3>
            <ul>
              <li>- Construcción de viviendas -</li>
              <li>- Renovacion y remodelacion -</li>
              <li>- Mantenimiento en general -</li>
              <li>- Consultoría y gestión de proyectos -</li>
            </ul>

          </article>

          <article class="carrucel">
            <h2 class="title">Nuestras obras</h2>

            <%- include('./partials/currucel') %>
          </article>

        </section>

     




      </main>

      <div class="footer">

        <%- include('./partials/footer') %>

      </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/javascripts/slider.js"></script>

</html>