.contactos-home {
    width: 100%;
    padding: 20px;
   
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.form .input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.form .select {
    width: 50%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.form .input:focus {
    background-color: rgba(184, 241, 255, 0.5);
    box-shadow: 0 0 5px rgba(4, 41, 248, 0.5);
}

.form .select:focus {
    background-color: rgba(184, 241, 255, 0.5);
    box-shadow: 0 0 5px rgba(4, 41, 248, 0.5);
}

.form .textarea {
    width: 100%;
    resize: none;
}

.form .button {
    width: 45%;
    height: 40px;
    padding: 10px;
    text-transform: uppercase;

}


@media screen and (min-width: 768px) {

    .contactos-home {
        width: 50%;
        padding: 20px;
       
    }

    .form .select {
        width: 45%;
    }

    .form label {
        width: 50%;
    }

}

@media screen and (min-width: 1024px) {

    .contactos-home {
        width: 100%;
        border-radius: 10px;
       
    }

    .form .select {
        width: 45%;
    }
    .form .input{
        width: 45%;
    }

    .form label {
        width: 50%;
    }

    .textarea {
        padding: 10px;
    }
}