.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

 .figure {
    width: 20%;
    display: block;
    margin: 15px auto;
}

 .footer img {
    width: 100%;
}

 .nav-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nav-footer ul{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.redes,
.contactos{
    width: 100%;
    padding: 20px;
    border-radius: 20px ;
    margin: 15px;
    background-color: rgba(255, 255, 255, .5);
}


.derechos{
    width: 100%;
    text-align: center;
    margin-top: 15px ;
    line-height: 24px;
}


@media screen and (min-width: 768px) {
 
}

@media screen and (min-width: 1024px) {
    
    .footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .contacto{
        width: 40%;
    }


    .redes,
.contactos{
    width: 50%;
    padding: 20px;
    border-radius: 20px ;
    margin: 15px;
    background-color: rgba(255, 255, 255, .5);
}


.derechos{
    width: 100%;
    text-align: center;
    margin-top: 15px ;
    line-height: 24px;
}
}