.container{
    display: grid;
    grid-template:
    "header header header" 
    "home home home" auto
    "footer footer footer" ;
}


.header{
    grid-area: header;
}

.home{
    grid-area: home;
}

.footer{
    grid-area: footer;
}

@media screen and (max-width: 900px) {

    .container{
        display: grid;
        grid-template:
        "header header " auto 
        "home home " auto
        "footer footer " auto;
    }
}
@media screen and (max-width: 600px) {

    .container{
        display: grid;
        grid-template:
        "header  " auto 
        "home  " auto
        "footer  " auto;
    }
}
