.home {
    width: 100%;
}

/* BANNER */

.video {
    width: 100%;
    line-height: 0;
    z-index: 0;
}

.video video {
    width: 100%;
}

.eslogan{
    position: relative;
}

.eslogan h2 {
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    font-size: 1.2rem;
    color: #fdfdfd;
    text-shadow: 5px 5px 5px #000000;
}

/* NOSOTROS  */

.nosotros{
    background-image: url('/images/nosotros.jpg');
    background-size: cover;
}


.quienesSomos{
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, .5);
}

.quienesSomos h2{
    margin-bottom: 30px;
    text-align: center;
}

.quienesSomos p{
  font-weight: 700;
}

.nuestroEquipo{
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, .5);
   
}

.nuestroEquipo p{
    font-weight: 700;
}

.nosotros .servicios{
    width: 100%;
    padding: 20px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, .5);
}

.servicios li{
    font-weight: 700;
    margin-left: 20px;
    list-style-type:disc;
}


/* nuestras obras */


.carrucel h2{
    text-align: center;
    padding: 15px 0 5px;
    font-size: 1.2rem;
}

.carrucel{
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, .5);
}

