
.galeria h2{
  text-align: center;
  margin: 100px 0;
}

.obra{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    border-radius: 10px;
    transition: all 1.5s ease-in-out;
}




